<mat-toolbar>
    <button mat-icon-button id="menu-button" (click)="onMenuClick()">
        <mat-icon>menu</mat-icon>
    </button>

    <div style="display: flex; align-items: center; gap: 0.5rem">
        <img src="images/logo.png" width="40" height="40" style="filter: drop-shadow(3px 3px 5px #484848a3);">
        <span>Tricking Combos Beta</span>
    </div>

    <div id="links-container">
        <a mat-button routerLink="/stances">Stances</a>
        <a mat-button routerLink="/variations">Variations</a>
        <a mat-button routerLink="/transitions">Transitions</a>
        <a mat-button routerLink="/tricks">Tricks</a>
    </div>

    <div style="display: flex; align-items: center; gap: 0.5rem">
        <mat-slide-toggle [checked]="themeService.selectedTheme()?.name === 'light'" (change)="toggleTheme()">
            <button mat-icon-button (click)="toggleTheme()">
                <mat-icon>{{ themeService.selectedTheme()?.icon }}</mat-icon>
            </button>
        </mat-slide-toggle>

        @if (!authService.isLoggedIn()) {
            <a mat-button routerLink="/login">Se connecter</a>
        } @else {
            <button mat-button [matMenuTriggerFor]="menu">{{ authService.getUsername() }}</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="authService.logout()">
                    <span>Se déconnecter</span>
                    <mat-icon>logout</mat-icon>
                </button>
            </mat-menu>
        }
    </div>
</mat-toolbar>