.error-box {
    height: min-content;
    padding: 1rem;
    width: 20rem; 
    border-radius: var(--mat-sys-corner-extra-large);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    min-width: 0;
}