<div class="content center">
    <div style="display: grid; gap: 1rem; justify-items: center;">
        <img src="images/logo.png" width="100" height="100">
        <h2>Se connecter à TrickingCombos</h2>

        @if (loginHasFailed()) {
            <mat-card appearance="outlined" class="warn">
                <mat-card-content style="display: flex; gap: 1rem; align-items: center; justify-content: space-between;">
                    <span>Nom d'utilisateur ou mot de passe incorect</span>
                    <button mat-icon-button (click)="hideLoginErrorClicked($event)">
                        <mat-icon>clear</mat-icon>
                    </button>
                </mat-card-content>
            </mat-card>
        }
    
        <mat-card appearance="outlined">
            <mat-card-content>
                <form [formGroup]="form" >
                    <mat-form-field appearance="outline" style="width: 100%; margin-top: 1rem;">
                      <mat-label>Nom d'utilisateur</mat-label>
                      <input matInput formControlName="username" />
                    </mat-form-field>
                
                    <mat-form-field appearance="outline" style="width: 100%; margin-top: 1rem;">
                        <mat-label>Mot de passe</mat-label>
                        <input matInput [type]="hidePassword() ? 'password' : 'text'" />
                        <button mat-icon-button matSuffix (click)="hidePasswordClicked($event)">
                          <mat-icon>{{hidePassword() ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                  </form>
                  <button mat-flat-button style="width: 100%" (click)="login()">Se connecter</button>
            </mat-card-content>
        </mat-card>
          
        <mat-card appearance="outlined" style="width: 100%">
            <mat-card-content style="display: grid; justify-items: center;">
                <span>Vous n'avez pas de compte ?</span>
                <a href="/register">Créez votre compte</a>
            </mat-card-content>
        </mat-card>
    </div>
</div>