#database-expension-panel {
    border-radius: var(--mat-sys-corner-extra-large);
    box-shadow: none;
}

#database-expension-panel .mat-expansion-panel-header {
    padding-left: 16px;
}

#database-expension-panel .mat-expansion-panel-header mat-icon {
    color: var(--mat-sys-on-surface-variant);
    margin-right: 16px;
}

.nav-item {
    display: flex;
    align-items: center;
}